<body>

  <!-- whatsapp -->
  <a
  href="https://api.whatsapp.com/send?phone=905555555555&text=Merhaba%20ben%20size%20ulaşmak%20istiyorum."
  class="floatWA"
  target="_blank"
>
  <i class="fa fa-whatsapp my-floatWA"></i>
</a>


    <div class="wrapper">
      <div class="preloader">
        <div class="loading"><span></span><span></span><span></span><span></span></div>
      </div><!-- /.preloader -->
  
      <!-- =========================
          Header
      =========================== -->
      <header class="header header-transparent header-layout1">
        <nav class="navbar navbar-expand-lg sticky-navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/images/logo/logo-light.png" class="logo-light" alt="logo">
              <img src="/images/logo/logo-dark.png" class="logo-dark" alt="logo">
            </a>
            <button class="navbar-toggler" type="button">
              <span class="menu-lines"><span></span></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavigation">
              <ul class="navbar-nav">
                <li class="nav__item with-dropdown">
                  <a href="/projects" class="dropdown-toggle nav__item-link">Neuf</a>
                  <i class="fa fa-angle-down" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu">
                    <li class="nav__item with-dropdown">
                      <a href="/projects" class="dropdown-toggle nav__item-link">Nacelles</a>
                      <i class="fa fa-angle-right" data-toggle="dropdown"></i>
                      <ul class="dropdown-menu">
                        <li class="nav__item"><a href="/projects" class="nav__item-link">Ciseaux</a></li>
                        <li class="nav__item"><a href="#" class="nav__item-link">Articulees</a></li>
                        <li class="nav__item"><a href="#" class="nav__item-link">Mat Vertical</a></li>
                        <li class="nav__item"><a href="#" class="nav__item-link">Nacelle Araignee</a></li>
                      </ul>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Grues</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Micro Nacelles</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Chariot</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Manutation</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Leave Materials</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Accessoires</a></li>
                  </ul>
                </li>
                <li class="nav__item with-dropdown">
                  <a href="/projects" class="dropdown-toggle nav__item-link">Occasion</a>
                  <i class="fa fa-angle-down" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu">
                    <li class="nav__item"><a href="#" class="nav__item-link">Filtreleme ve Tum Urunler</a></li>
                    <li class="nav__item"><a href="#" class="nav__item-link">Makine Seviyelendirme</a></li>
                    <li class="nav__item with-dropdown">
                      <a href="#" class="dropdown-toggle nav__item-link">İlan Ver !</a>
                      <i class="fa fa-angle-right" data-toggle="dropdown"></i>
                      <ul class="dropdown-menu">
                        <li class="nav__item"><a href="#" class="nav__item-link">Depot vente</a></li>
                        <li class="nav__item"><a href="#" class="nav__item-link">Depose mon announce</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav__item with-dropdown">
                  <a href="/services" class="dropdown-toggle nav__item-link">Services</a>
                  <i class="fa fa-angle-down" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu">
                    <li class="nav__item"><a href="/service" class="nav__item-link">Inspection reglemantaire (VGP)</a></li>
                    <li class="nav__item"><a href="/service" class="nav__item-link">Maintenance</a></li>
                    <li class="nav__item"><a href="/service" class="nav__item-link">Piece Detachee</a></li>
                  </ul>
                </li>
                <li class="nav__item"><a href="/projects" class="nav__item-link">Boutique en Ligne</a></li>
                <li class="nav__item"><a href="/projects" class="nav__item-link">Financement</a></li>
                <li class="nav__item"><a href="/about" class="nav__item-link">A propos</a></li>
                <li class="nav__item nav__item-btn d-none d-md-block">
                  <a href="#" class="btn btn__primary action__btn-request">
                    <span>Get A Quote</span><i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
            <div class="contact__number d-flex align-items-center">
              <i class="icon-phone"></i>
              <a href="tel:0663894644">06 63 89 46 44</a>
            </div><!-- /.contact__number -->
          </div><!-- /.container -->
        </nav><!-- /.navbar -->
      </header><!-- /.Header -->