<%- include("partials/head") %> <%- include("partials/header") %>

<!-- ============================
        Slider
    ============================== -->
<section class="slider slider-layout1">
  <div
    class="slick-carousel carousel-arrows-light m-slides-0"
    data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'
  >
    <div class="slide-item align-v-h bg-overlay bg-overlay-2">
      <div class="bg-img">
        <img src="/images/sliders/1.jpg" alt="slide img" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="slide__content">
              <h2 class="slide__title">
                Provide Effective Building Solutions!
              </h2>
              <p class="slide__desc">
                A leading developer of A-grade commercial, industrial and
                residential projects in USA. Since its foundation the company
                has doubled its turnover year on year, with its staff numbers
                swelling accordingly.
              </p>
              <div>
                <a
                  href="services.html"
                  class="btn btn__primary btn__icon btn__lg mr-30"
                >
                  <span>Our Services</span><i class="icon-arrow-right"></i>
                </a>
                <a href="about-us.html" class="btn btn__white"
                  >More About Us!</a
                >
              </div>
            </div>
            <!-- /.slide-content -->
          </div>
          <!-- /.col-xl-9 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.slide-item -->
    <div class="slide-item align-v-h bg-overlay">
      <div class="bg-img">
        <img src="/images/sliders/2.jpg" alt="slide img" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="slide__content">
              <h2 class="slide__title">
                Bigger, Better, <br />
                Faster & Stronger
              </h2>
              <p class="slide__desc">
                A leading developer of A-grade commercial, industrial and
                residential projects in USA. Since its foundation the company
                has doubled its turnover year on year, with its staff numbers
                swelling accordingly.
              </p>
              <div>
                <a
                  href="services.html"
                  class="btn btn__primary btn__icon btn__lg mr-30"
                >
                  <span>Our Services</span><i class="icon-arrow-right"></i>
                </a>
                <a href="about-us.html" class="btn btn__white"
                  >More Products!</a
                >
              </div>
            </div>
            <!-- /.slide-content -->
          </div>
          <!-- /.col-xl-9 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.slide-item -->
  </div>
  <!-- /.carousel -->

  <div class="container -mt-100">
    <div class="row align-items-end">
      <!-- Contact panel #1 -->
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="contact-info-box d-flex align-items-center">
          <div class="contact__info-box-icon">
            <i class="icon-envelope"></i>
          </div>
          <div class="contact__info-box-content">
            <h4 class="contact__info-box-title">Quick Contact</h4>
            <ul class="contact__info-list list-unstyled">
              <li>
                Email:
                <a href="mailto:Promina@7oroof.com">Promina@7oroof.com</a>
              </li>
              <li>Phone: <a href="tel:5565454117">55 654 541 17</a></li>
            </ul>
            <!-- /.contact__info-list -->
          </div>
          <!-- /.contact__info-box-content -->
        </div>
        <!-- /.contact-info-box -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- Contact panel #2 -->
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="contact-info-box d-flex align-items-center">
          <div class="contact__info-box-icon">
            <i class="icon-location"></i>
          </div>
          <div class="contact__info-box-content">
            <h4 class="contact__info-box-title">Our Location</h4>
            <ul class="contact__info-list list-unstyled">
              <li>2307 Beverley Rd Brooklyn, New York 11226 US.</li>
            </ul>
            <!-- /.contact__info-list -->
          </div>
          <!-- /.contact__info-box-content -->
        </div>
        <!-- /.contact-info-box -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- Contact panel #3 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="cta__banner">
          <p class="cta__desc color-gray">
            Today Promin has over 4,000 professionals on its payroll All Over
            The World.
          </p>
          <a
            href="services.html"
            class="btn btn__primary btn__link color-white"
          >
            <span>Learn More</span> <i class="icon-arrow-right"></i>
          </a>
        </div>
        <!-- /.cta__banner -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- /.contact-overlay -->
</section>
<!-- /.slider -->

<!-- ==========================
       Contact Info
    ============================ -->
<section class="contact-info-layout2 pt-60 pb-30 d-block d-md-none">
  <div class="container">
    <div class="row align-items-end">
      <!-- Contact panel #1 -->
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="contact-info-box d-flex align-items-center">
          <div class="contact__info-box-icon">
            <i class="icon-envelope"></i>
          </div>
          <div class="contact__info-box-content">
            <h4 class="contact__info-box-title">Quick Contact</h4>
            <ul class="contact__info-list list-unstyled">
              <li>
                Email:
                <a href="mailto:Promina@7oroof.com">Promina@7oroof.com</a>
              </li>
              <li>Phone: <a href="tel:0663894644">06 63 89 46 44</a></li>
            </ul>
            <!-- /.contact__info-list -->
          </div>
          <!-- /.contact__info-box-content -->
        </div>
        <!-- /.contact-info-box -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- Contact panel #2 -->
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="contact-info-box d-flex align-items-center">
          <div class="contact__info-box-icon">
            <i class="icon-location"></i>
          </div>
          <div class="contact__info-box-content">
            <h4 class="contact__info-box-title">Our Location</h4>
            <ul class="contact__info-list list-unstyled">
              <li>2307 Beverley Rd Brooklyn, New York 11226 US.</li>
            </ul>
            <!-- /.contact__info-list -->
          </div>
          <!-- /.contact__info-box-content -->
        </div>
        <!-- /.contact-info-box -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Contact Info -->

<section class="container text-center my-5">
  <h6 class="text-danger">
    The Best & Grade Commercial & Residential Services
  </h6>
  <h2 class="font-weight-bold">
    High Quality Construction Solutions For Residentials & Industries!
  </h2>
  <div class="row justify-content-center my-4">
    <div class="col-2">
      <img
        src="/images/brand1.png"
        alt="ELS LIFT"
        class="brand-logo img-fluid"
      />
    </div>
    <div class="col-2">
      <img src="/images/brand2.png" alt="CAT" class="brand-logo img-fluid" />
    </div>
    <div class="col-2">
      <img src="/images/brand4.png" alt="JCB" class="brand-logo img-fluid" />
    </div>
    <div class="col-2">
      <img src="/images/brand5.png" alt="EP" class="brand-logo img-fluid" />
    </div>
    <div class="col-2">
      <img src="/images/brand6.png" alt="BRAVI" class="brand-logo img-fluid" />
    </div>
    <div class="col-2">
      <img src="/images/brand7.png" alt="JLG" class="brand-logo img-fluid" />
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center"
      >
        <img src="/images/1.png" alt="Service 1" class="img-fluid" />
        <p class="mt-auto">Architecture & Building</p>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center"
      >
        <img src="/images/2.png" alt="Service 2" class="img-fluid" />
        <p class="mt-auto">Architecture & Building</p>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center"
      >
        <img src="/images/3.png" alt="Service 3" class="img-fluid" />
        <p class="mt-auto">Architecture & Building</p>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center"
      >
        <img src="/images/4.png" alt="Service 4" class="img-fluid" />
        <p class="mt-auto">Architecture & Building</p>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center"
      >
        <img src="/images/5.png" alt="Service 5" class="img-fluid" />
        <p class="mt-auto">Architecture & Building</p>
      </div>
    </div>
  </div>
</section>
<!-- ========================
        Services Layout 2
    =========================== -->
<section class="services-layout2 pt-120 bg-gray">
  <div class="services-bg">
    <div class="bg-img">
      <img src="/images/backgrounds/map.png" alt="background" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="heading text-center mb-40">
          <span class="heading__subtitle"
            >The Best A Grade Commercial & Residential Services</span
          >
          <h2 class="heading__title">High Quality Services</h2>
        </div>
        <!-- /.heading -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon">
              <i class="icon-brick-wall"></i>
            </div>
            <!-- /.service__icon -->
            <h4 class="service__title">
              Architecture <br />
              & Building
            </h4>
            <p class="service__desc">
              Architecture is both the process and the product of planning, and
              constructing buildings or any other structures.
            </p>
            <a href="/service" class="btn btn__secondary btn__link">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
          <!-- /.service-content -->
          <div class="service__overlay bg-overlay bg-overlay-theme">
            <div class="bg-img">
              <img
                src="/images/services/service-overlay.png"
                alt="background"
              />
            </div>
          </div>
          <!-- /.service__overlay -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon">
              <i class="icon-engineer3"></i>
            </div>
            <!-- /.service__icon -->
            <h4 class="service__title">
              Construction <br />
              Consultants
            </h4>
            <p class="service__desc">
              Given the increasing complexity of many construction projects it
              is becoming more common that a consultant.
            </p>
            <a href="/service" class="btn btn__secondary btn__link">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
          <!-- /.service-content -->
          <div class="service__overlay bg-overlay bg-overlay-theme">
            <div class="bg-img">
              <img
                src="/images/services/service-overlay.png"
                alt="background"
              />
            </div>
          </div>
          <!-- /.service__overlay -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon">
              <i class="icon-building"></i>
            </div>
            <!-- /.service__icon -->
            <h4 class="service__title">
              Construction<br />
              Management
            </h4>
            <p class="service__desc">
              Professional service uses specialized, project management
              techniques to oversee the planning, design.
            </p>
            <a href="/service" class="btn btn__secondary btn__link">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
          <!-- /.service-content -->
          <div class="service__overlay bg-overlay bg-overlay-theme">
            <div class="bg-img">
              <img
                src="/images/services/service-overlay.png"
                alt="background"
              />
            </div>
          </div>
          <!-- /.service__overlay -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon">
              <i class="icon-building"></i>
            </div>
            <!-- /.service__icon -->
            <h4 class="service__title">
              Construction<br />
              Management
            </h4>
            <p class="service__desc">
              Professional service uses specialized, project management
              techniques to oversee the planning, design.
            </p>
            <a href="/service" class="btn btn__secondary btn__link">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
          <!-- /.service-content -->
          <div class="service__overlay bg-overlay bg-overlay-theme">
            <div class="bg-img">
              <img
                src="/images/services/service-overlay.png"
                alt="background"
              />
            </div>
          </div>
          <!-- /.service__overlay -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <p class="text__link">
          Offering high quality construction solutions.
          <a href="contacs.html">Build Your Dream Now!</a>
        </p>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Services Layout 2 -->

<!-- =========================
       Banner layout 4
      =========================== -->
<section class="banner-layout4 mt--100 pb-0">
  <div class="container-fluid col-padding-0">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="inner-padding bg-theme">
          <div class="heading-layout2 heading-light mb-40">
            <p class="heading__subtitle">
              World's Leading Industry Corporation!
            </p>
            <h2 class="heading__title">
              Best A Gra de Commercial & Residential Services
            </h2>
            <p class="heading__desc">
              The world is changing faster than ever before, business is no
              exception, yet those that embrace change are thriving, building
              bigger, better, faster & stronger products than ever before. We
              can help you build on your past and prepare for future.
            </p>
          </div>
          <!-- /.heading -->
          <div class="row fancybox-light">
            <!-- fancybox item #1 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="fancybox-item">
                <div class="fancybox__icon">
                  <i class="icon-welding"></i>
                </div>
                <!-- /.fancybox-icon -->
                <div class="fancybox__content">
                  <h4 class="fancybox__title">
                    Powerfull Product<br />
                    Strategy
                  </h4>
                  <p class="fancybox__desc">
                    Our facilities meet high security requirements and are
                    certified to the highest local standards.
                  </p>
                </div>
                <!-- /.fancybox-content -->
              </div>
              <!-- /.fancybox-item -->
            </div>
            <!-- /.col-lg-6 -->
            <!-- fancybox item #2 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="fancybox-item">
                <div class="fancybox__icon">
                  <i class="icon-checklist"></i>
                </div>
                <!-- /.fancybox-icon -->
                <div class="fancybox__content">
                  <h4 class="fancybox__title">Award Winning <br />Projects</h4>
                  <p class="fancybox__desc">
                    Our facilities meet high security requirements and are
                    certified to the highest local standards.
                  </p>
                </div>
                <!-- /.fancybox-content -->
              </div>
              <!-- /.fancybox-item -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.col-xl-6 -->
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 background-banner">
        <div class="bg-img">
          <img src="/images/banners/2.jpg" alt="banner" />
        </div>
      </div>
      <!-- /.col-xl-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Banner layout 4 -->

<!-- =====================
         Clients
      ======================== -->
<section class="clients border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div
          class="slick-carousel"
          data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 750, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'
        >
          <div class="client">
            <a href="#"><img src="/images/brand2.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand4.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand5.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand6.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand7.png" alt="client" /></a>
          </div>
          <!-- /.client -->

          <div class="client">
            <a href="#"><img src="/images/brand1.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand2.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand4.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand5.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand6.png" alt="client" /></a>
          </div>
          <!-- /.client -->
          <div class="client">
            <a href="#"><img src="/images/brand7.png" alt="client" /></a>
          </div>
        </div>
        <!-- /.carousel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.clients -->

<!-- =========================
       Banner layout 2
      =========================== -->
<section class="banner-layout2 bg-overlay bg-parallax">
  <div class="bg-img"><img src="/images/banners/3.jpg" alt="background" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="heading-layout2 heading-light mb-50">
          <span class="heading__subtitle"
            >Leading The Way In Building And Civil Construction</span
          >
          <h2 class="heading__title">
            Ready to Bring Bigger, Better, Faster And Stronger Projects Than
            Ever Before!!
          </h2>
        </div>
        <!-- /.heading -->
        <ul class="list-items list-items-white list-unstyled mb-40">
          <li>Quality Control System, 100% Satisfaction Guarantee</li>
          <li>Highly Professional Staff, Accurate Testing Processes</li>
          <li>Unrivalled workmanship, Professional and Qualified</li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="info-slider-wrapper d-flex justify-content-end">
          <div class="info__slider">
            <div
              class="flex text-center align-items-center justify-content-center"
            >
              <div class="info__slider-image">
                <img src="../images/Gorsel4.png" alt="gg" />
              <span class="info__text-new mb-100">NEUF</span>
              </div>
            </div>
          </div>
          <!-- /.info__slider -->
          <div class="info__slider mt-100 d-none d-md-block">
            <div class="info__slider-image">
              <span class="info__text-new">NEUF</span>
            </div>
          </div>
          <!-- /.info__slider -->
        </div>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Banner layout 2 -->

<div>
  <div class="bg-img background-size-auto">
    <img src="/images/backgrounds/1.jpg" alt="background" />
  </div>

  <!-- ==========================
        contact layout 1
      =========================== -->
  <section class="contact-layout2 p-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="contact-panel mt--140">
            <div class="contact__panel-info">
              <div class="contact__panel-info-top">
                <div class="contact-info-box">
                  <h4 class="contact__info-box-title">Our Location</h4>
                  <ul class="contact__info-list list-unstyled">
                    <li>
                      2307 Beverley Rd Brooklyn, New York 11226 United States.
                    </li>
                  </ul>
                  <!-- /.contact__info-list -->
                </div>
                <!-- /.contact-info-box -->
                <div class="contact-info-box">
                  <h4 class="contact__info-box-title">Quick Contact</h4>
                  <ul class="contact__info-list list-unstyled">
                    <li>
                      Email:
                      <a href="mailto:Promina@7oroof.com">Promina@7oroof.com</a>
                    </li>
                    <li>
                      Support:
                      <a href="mailto:Promina@7oroof.com">Promina@7oroof.com</a>
                    </li>
                  </ul>
                  <!-- /.contact__info-list -->
                </div>
                <!-- /.contact-info-box -->
              </div>
              <!-- /.contact__panel-info-top -->
              <div class="contact__panel-info-bottom bg-theme2">
                <strong class="contact__panel-info-title"
                  >We will get back to you within 24 hours, or call us everyday,
                  09:00 AM - 12:00 PM</strong
                >
                <div class="contact__number d-flex align-items-center">
                  <i class="icon-phone"></i>
                  <a href="tel:0663894644">06 63 89 46 44</a>
                </div>
              </div>
              <!-- /.contact__panel-info-bottom -->
            </div>
            <!-- /.contact__panel-info -->
            <form
              method="post"
              action="/php/contact.php"
              id="contactForm"
              class="contact__panel-form"
            >
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="contact__panel-title">Request A Quote</h4>
                  <p class="contact__panel-desc mb-40">
                    Complete control over products allows us to ensure our
                    customers receive the best quality prices and service. We
                    take great pride in everything that we do in our factory.
                  </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      id="contact-name"
                      name="contact-name"
                      required
                    />
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      id="contact-email"
                      name="contact-email"
                      required
                    />
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone"
                      id="contact-Phone"
                      name="contact-phone"
                      required
                    />
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <select class="form-control" style="display: none">
                      <option>select your industry</option>
                      <option>Petroleum &amp; Gas Energy</option>
                      <option>Construction &amp; Engineering</option>
                      <option>Mechanical Engineering</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      placeholder="Additional Details!"
                      id="contact-messgae"
                      name="contact-messgae"
                      required
                    ></textarea>
                  </div>
                </div>
                <!-- /.col-lg-12 -->
                <div
                  class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap align-items-center"
                >
                  <button type="submit" class="btn btn__secondary mr-40">
                    <span class="mx-2">Submit Request</span
                    ><i class="icon-arrow-right mx-2"></i>
                  </button>
                  <div class="form-group input-radio my-3">
                    <label class="label-radio"
                      >I accept the privacy and terms.
                      <input type="checkbox" checked="" />
                      <span class="radio-indicator"></span>
                    </label>
                  </div>
                </div>
                <!-- /.col-lg-12 -->
              </div>
            </form>
          </div>
          <!-- /.contact__panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.contact layout 2 -->
</div>

<%- include("partials/footer") %>
