<%- include("partials/head") %>
<%- include("partials/header") %>

    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 bg-overlay bg-overlay-2 bg-parallax text-center">
      <div class="bg-img"><img src="/images/page-titles/9.jpg" alt="background"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading mb-0">Projects</h1>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- =========================== 
      portfolio Grid 
    ============================= -->
    <section class="portfolio-grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="portfolio-filter d-flex flex-wrap justify-content-center list-unstyled">
              <li><a class="filter active" href="#" data-filter="all">ALL Works</a></li>
              <li><a class="filter" href="#" data-filter=".filter-construction">Construction</a></li>
              <li><a class="filter" href="#" data-filter=".filter-architecture">Architecture</a></li>
              <li><a class="filter" href="#" data-filter=".filter-building">Building</a></li>
              <li><a class="filter" href="#" data-filter=".filter-renovations">Renovations</a></li>
              <li><a class="filter" href="#" data-filter=".filter-interior">Interior</a></li>
            </ul><!-- /.portfolio-filter  -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div id="filtered-items-wrap" class="row">
          <!-- portfolio item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-renovations">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/1.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">The Fallingwater House</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Building</a><a href="#">Interior</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-interior">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/2.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">The Guggenheim Museum</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Construction</a><a href="#">Engineering</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-building">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/3.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Neue National Galerie</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Renovation</a><a href="#">Architecture</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-architecture">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/4.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Sagrada Familia</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Construstion</a><a href="#">Cuilding</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #5 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-construction">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/5.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Heydar Aliyev Center</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Engineering</a><a href="#">Renovation</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #6 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-interior">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/6.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Cathedral of Brasilia</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Building</a><a href="#">Modern</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #7 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-construction portfolio-hidden">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/1.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Neue National Galerie</a></h4>
                <div class="portfolio__cat">
                  <a href="#">construction</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #8 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-building portfolio-hidden">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/3.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Villy Manufacturing Inc</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Engineering</a><a href="#">Auto</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          <!-- portfolio item #9 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-renovations portfolio-hidden">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="/images/portfolio/grid/2.jpg" alt="portfolio img">
              </div><!-- /.portfolio-img -->
              <div class="portfolio__content">
                <h4 class="portfolio__title"><a href="#">Highway Energy Station</a></h4>
                <div class="portfolio__cat">
                  <a href="#">Construction</a><a href="#">Energy</a>
                </div><!-- /.portfolio-cat -->
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn__link btn__loadMore loadMoreportfolio">
              <span>More Projects</span><i>+</i>
            </button>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.portfolio Grid -->

<%- include("partials/footer") %>